.answer-index{
  width: 720px;
  font-size: 16px;
  margin-top:40px
}

.answer-index > button {
  float: none;
  margin-left: 0;
}

.answer-index-item{
  border-top: 1px solid #e2e2e2;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 8px;
}

.answer-author{
  font-weight: bold;
  padding: 16px 0;
}

.answer-count{
  margin: 5px 0;
}

.answer-feed{
  margin-top: 40px;
  width:100%;
  float:right;
}

.answer-form{
  height: auto;
  float: right;
}

.answer-input{
  height: 98%;
  width: 700px;
  overflow: auto;
}

.answer-form > input {
  display: block;
  margin-top: 8px;
  margin-left: 0;
  margin-bottom: 12px;
}

.answer-form textarea {
  border: 1px solid #e2e2e2;
}


.answer-content{
  max-width: 650px;
  overflow-wrap: break-word;
}

.cancelAnswer{
  float:right;
  display: inline;
  font-size: 14px;
  color: grey;
  padding: 4px 7px;
  margin: 8px;
}

.answer-button{
  float: right;
}

.answer-form .answer-button {
  margin-right:0;
}

.cancelAnswer:hover{
  cursor: pointer;
  text-decoration: underline;;
}
