/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require ./reset.scss
 *= require ./buttons.scss
 *= require ./signup_login.scss
 *= require ./header.scss
 *= require ./answer_index.scss
 */

 html {
   font-family: Helvetica,Arial,sans-serif;
   line-height: 1.4;
   font-weight: 400;
 }

body {

}

.questions-index{
  width:600px;
  margin: auto;
  margin-top: 30px;
}

.question-index-item{
  padding-top: 0px;
  padding-bottom: 22px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.question-author{
  text-align: left;
}

.question-body{
  text-align: left;
  margin: auto;
  font-size: 19px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.question-body:hover{
  text-decoration: underline;
}

.errors{
  color: red;
}

.questions-index-header{
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  font-size: 15px;
  padding-bottom: 8px;
  letter-spacing: 0;
}

.question-header{
  font-size: 24px;
  font-weight: bold;
  display: block;
  letter-spacing: -1;
  width: 650px;
}


#content{
  width: 1002px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 32px;
  padding-right: 32px;
}

.question-edit-form{
  border: 1px solid #e2e2e2;
  background: #E2E2E2;
  width: 650px;
}
.question-edit-form > input{
  background-color: #ffffff;
  width: 634px;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
}

.question-edit-form > a {
  float: right;
  padding: 3px 7px 4px 7px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.question-edit-form > a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
