/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require ./reset.scss
 *= require ./buttons.scss
 *= require ./signup_login.scss
 *= require ./header.scss
 *= require ./questions.scss
 *= require ./answer_index.scss
 */

 html {
   font-family: Helvetica,Arial,sans-serif;
   line-height: 1.4;
   font-weight: 400;
 }

body {

}

.errors{
  color: red;
}

#content{
  width: 1002px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 32px;
  padding-right: 32px;
}


.hidden {
  display: none;
}
