.comment-index{
  margin: 10px 0;
  padding: 0 0 8px 8px;
  background: #F6F6F6;
  text-align: left;
  font-size: 13px;
  border-radius: 3px;
  width:722px;
  float:right;
}

.comment-index-item {
  font-size: 13px;
  padding-bottom: 10px;
}

.comment-form{
  padding-top:10px;
  padding-right:8px;
}

.comment-form textarea{
  background: #fff;
  width: 624px;
  resize: none;
  float: right;
  padding: 4px 7px;
  height:20px;
  margin-right: 8px;
}

.comment-form input{
  font-size: 13px;
  padding: 4px 7px;
  float: right;
  margin: 0;
  margin-right:8px
}

.delete-comment{
  background: #db0808;
  float:right;
  border-radius:3px;
  color:#fff;
  font-size: 13px;
  border: 1px solid #db0808;
}

.edit textarea{
  width: 560px;
  height: auto;
}

.edit a {
  float: left;
  padding: 4px 7px;
}

.edit a:hover{
  text-decoration: underline;
}

.edit-comment{
  font-size: 13px;
}

.comment-body{
  float: left;
  width:100%;
}

.comment-count{
  padding-top:8px;
}

.comment-index-group{
  float: right;
}

.comment-submit{
  float:right;
  margin-right:8px;
}
