.comment-index{
  margin: 10px 0;
  padding: 0 0 10px 20px;
  background: #F6F6F6;
  text-align: left;
  font-size: 13px;
  border-radius: 3px;
  float: left;
  width:630px;
}

.comment-index-item {
  font-size: 13px;
  padding-bottom: 10px;
}

.comment-form{
  padding-top:10px;
}

.comment-form textarea{
  background: #fff;
  width: 480px;
  resize: none;
  float: left;
  padding: 4px 7px;
  height:20px;
  margin-right: 8px;
}

.comment-form input{
  font-size: 13px;
  padding: 4px 7px;
  float: left;
  margin: 0;
}

.delete-comment{
  background: #db0808;
  float:right;
  border-radius:3px;
  color:#fff;
  font-size: 13px;
  border: 1px solid #db0808;
}

.edit textarea{
  width: 400px;
}

.edit a {
  float: left;
  padding: 4px 7px;
}

.edit a:hover{
  text-decoration: underline;
}

.edit-comment{
  font-size: 13px;
}

.comment-body{
  float: left;
}
