
.header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  min-height: 53px;
  z-index: 800;
  position: fixed;
  width:100%;
  top:0;
  left:0;
  font-size: 14px;
  box-sizing: border-box;
  border-top: 2px solid #b92b27;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}

.header-nav {
  margin: 0 auto;
  width: 1002px;
}

.header-logo {
  float: left;
  font-size: 24px;
  color: red;
  font-weight: bold;
  font-family: times;
  display: block;
  padding: 8px 20px 8px 0;
}

.header-list {
  float: right;
  display: inline-block;
}

.header-list-item {
  float: left;
  margin-left: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #999;
  display: block;
  padding: 16px 20px;
}

.header-list-item:hover {
  background: #F6F6F6;
}

.question-form{
  float: left;
  width: 600px;
  display: block;
  padding: 8px 20px;
}

.question-form > input {
  float: left;
}

.question-input{
  background: #f4f4f4;
  width: 358px;
  height: 32px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  overflow: hidden;
  border-radius:2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  max-height: 130px;
  max-width: 150;
  word-wrap: break-word;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
