
.questions-index{
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

.questions-index-header{
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  font-size: 15px;
  padding-bottom: 8px;
  letter-spacing: 0;
}

.question-author{
  text-align: left;
}

.questions-index-item{
  padding-top: 0px;
  padding-bottom: 22px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.question-body{
  text-align: left;
  margin: auto;
  font-size: 19px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.question-body:hover{
  text-decoration: underline;
}

.question-header{
  font-size: 24px;
  font-weight: bold;
  display: block;
  letter-spacing: -1;
  width: 650px;
}
