
.questions-index{
  width: 720px;
  float: right;
  margin-right:100px;
}
.question-author{
  text-align: left;
}
.question-show{
  width:730px;
}
.questions-index-item{
  padding-top: 0px;
  padding-bottom: 40px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.question-body{
  text-align: left;
  margin: auto;
  font-size: 19px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.question-body:hover{
  text-decoration: underline;
}

.question-header > p{
  float:left;
}

.question-edit-form{
  border: 1px solid #e2e2e2;
  background: #E2E2E2;
  width: 720px;
}
.question-edit-form > input{
  background-color: #ffffff;
  width: 704px;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
}

.question-search-select{
  position:relative;
}

.question-search-results{
  width: 480px;
  position: absolute;
  font-size:13px;
  top:60px;
  left: 133px;
  background:#fff;
  z-index:600;
  overflow-y: visible;
  border-radius:3px;
  margin-top:10px;
}

.result-item{
  font-weight: bold;
  cursor: pointer;
  padding:8px;
  font-size:15px;
}

.result-item:hover{
  background: #dfeffa;
  color: rgb(43, 109, 173);
}

.question-search-results .result-item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.question-search-results .result-item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.modal-input{
  background:#fff;
  color:#000;
}
