
.questions-index{
  width: 720px;
  float: right;
  margin-right:100px;
}
.question-author{
  text-align: left;
}

.questions-index-item{
  padding-top: 0px;
  padding-bottom: 40px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.question-body{
  text-align: left;
  margin: auto;
  font-size: 19px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.question-body:hover{
  text-decoration: underline;
}

.question-header > p{
  float:left;
}

.question-edit-form{
  border: 1px solid #e2e2e2;
  background: #E2E2E2;
  width: 720px;
}
.question-edit-form > input{
  background-color: #ffffff;
  width: 704px;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
}

.question-edit-form > a {
  float: right;
  padding: 3px 7px 4px 7px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 14px;
}

.question-edit-form > a:hover {
  text-decoration: underline;
}
