.topic-index{
  position: absolute;
  width: 130px;
  padding: 0 10px 10px 0;
}

.topic-index-item{
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
  color: rgb(102, 102, 102);
}

.topic-index-item:hover{
  color: rgb(43, 109, 173);
}

.topic-header{
  float: left;
  margin-left: 180px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e2e2e2;
}

.topic-form{
  margin-left: 180px;
  float:left;
  margin-bottom: 35px;
}

.topic-item {
  border-radius: 12px;
  display: inline;
  color: rgb(128,131,147);
  font-size: 13px;
  background-color: rgb(244, 244, 250);
  cursor: pointer;
  padding: 4px 7px;
  margin-right: 8px;
}

.topic-edit-item{
  margin-left: 8px;
  margin-bottom: 8px;
}

.select-topic{
  border: 1px solid #aaa;
  font-size: 13px;
  border-radius: 3px;
}


.question-topics span{
  display:inline;
  font-size: 13px;
  padding: 4px 7px;
  cursor: pointer;
}

.edit-topics-modal > h2{
  padding-left: 8px;
  font-size: 15px;
}

.button-bar{
  background:#f4f4f4;
  width: 600px;
  padding: 8px 8px;
}

.topic-item:hover {
  color: #808393;
  background: rgb(237, 237, 247);
}

.topic-search-dropdown{
  width: 140px;
  position: absolute;
  font-size:13px;
  background:#fff;
  padding-left:8px;
  z-index:600;
  overflow-y: scroll;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top:1px;

}
.select-topic{
  margin: 8px;
  width:147px;
  position:relative;
}

.topic-search-dropdown li{
  padding:8px 0;
}

.topic-search-dropdown li:hover{
  background: #dfeffa;
  font-weight: bold;
  cursor: pointer;
}
